.mainBox {
    font-family: arial; 
    height: 600px;
    width: 400px;
    border-radius: 8px; 
    margin: auto;    
    background-color: white;
    padding: 20px; 
    margin-top: 100px;
}

body {
    background-color:rgb(126,49,212);
    background: linear-gradient(90deg, rgba(126,49,212,1) 0%, rgba(78,177,217,1) 29%, rgba(241,128,224,1) 100%);
    font-size: 20px;
}

div {
margin-top: 40px;
  margin-left: 5px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

.submitButton {
    font-family: arial; 
    color: white;
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color:rgb(126,49,212);
    background: linear-gradient(90deg, rgba(126,49,212,1) 0%, rgba(78,177,217,1) 29%, rgba(241,128,224,1) 100%);
    margin: auto;
    margin-top: 20px;
}


.yourName, .email {
    border-top: none;
    border-left: none;
    border-right: none;
}

.message {
    margin-top: 20px;
}

textarea {
    font-family: arial;
}
